In [1]:
import pandas as pd 

df = pd.read_csv('jobkorea_data_analyst_jobs.csv')
df.head()

,회사,제목,링크
0,㈜컴투스,[컴투스홀딩스] 데이터분석 담당자 (대리급),https://www.jobkorea.co.kr/Recruit/GI_Read/464...
1,더치트주식회사,데이터 애널리스트 / 데이터분석 전문가 / 통계 전문가 / Data Analyst (통,https://www.jobkorea.co.kr/Recruit/GI_Read/464...
2,넛지헬스케어㈜,[캐시워크-병역특례] 데이터분석 담당 산업기능요원,https://www.jobkorea.co.kr/Recruit/GI_Read/465...
3,연이,데이터분석 준전문가 자격증 온라인 강의 교사 채용,https://www.jobkorea.co.kr/Recruit/GI_Read/465...
4,넛지헬스케어㈜,[캐시워크] 데이터분석 담당 채용전환형 인턴,https://www.jobkorea.co.kr/Recruit/GI_Read/462...